:root {
    --primary-color: #f50;
}



header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(65, 65, 65, 0.5);
}

.nav-link {
    color: #fff;
    transition: 0.3s;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.active {
    color: #f50 !important;
}

.navbar-brand {
    color: #dcdcdc;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: 0.3s;

}

.navbar-brand:hover {
    color: var(--primary-color);
}

.navbar-toggler {
    outline: none;
    border: none;

}



.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
}

.bi.bi-list {
    color: #fefefe;
    font-size: 1.5rem;
    transition: 0.3s;
}

.navbar-toggler:hover .bi.bi-list {
    color: var(--primary-color);
}