.seat-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: transparent !important;
    padding: 0 !important;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    border-radius: 5px;
}

.seat-table td.reserved::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgb(246, 74, 74);
    border-radius: 5px;
    z-index: -1;
}


.seat-table td:hover:not(.reserved, .seat-area) {
    background-color: orange !important;
}

.seat-area {
    color: orange !important;
    font-size: 0.9rem;
    font-weight: 600;
}

.seat-table {
    table-layout: fixed;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    transition: all 0.3s;
}

.seat-table h5 {
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0 !important;
}

.seat-sub .bi-arrow-right-square-fill {
    margin-right: 10px;
}


.seat-sub {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(37, 37, 37, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
}

.seat-sub li {
    margin-right: 1rem;
    padding: 0.5rem;
}

.seat-sub span {
    font-size: 0.8rem;
}

.selected {
    color: orange;
}

.reserved {
    color: rgb(246, 74, 74);
}

.empty {
    color: #fff;
}

.btn-confirm {
    width: 50%;
    padding: 0.5rem;
    font-size: 0.8rem;
    margin: auto;
    background-color: #414141;
    color: #fff;
    font-weight: 500;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s;
    transform: translateX(50%);
    letter-spacing: 0.2rem;
    text-wrap: nowrap;
    text-transform: uppercase;
}

.btn-confirm:hover {
    color: #f50;
    letter-spacing: 0.1rem;
}